name: Build, Test, and Release

on:
  push:
    branches:
      - main

jobs:
  build_test_and_release:
    name: Build, test, and release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.102
    - name: Install dependencies
      run: dotnet restore jobba.sln
    - name: Build
      run: dotnet build jobba.sln --configuration Release --no-restore
    - name: Test
      run: dotnet test jobba.sln --logger GitHubActions --no-restore --verbosity normal

    - name: Publish Core
      uses: rohith/publish-nuget@v2
      with:
         PROJECT_FILE_PATH: jobba.Core/jobba.Core.csproj
         NUGET_KEY: ${{secrets.NUGET_API_KEY}}
         TAG_COMMIT: false
